 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <hr class="thin-line-categories">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p class="about-me">I am an architect with a Master’s degree in project management and over 4 years of experience. I revel in user experience and want to explore different mediums of design. Throughout my formal education, I was taught to solve spatial design problems. However my professional experience showed me that the process of designing a user experience is identical to architectural design. Understanding the goal, defining project requirements and user scenarios, researching on design problem, working in collaboration with other disciplines, and iterating design solutions to find the most convenient one within the project constraints are what I was taught and what I practiced since day one.</p>
                    <p class="about-me">As an architect, I have always been the advocate of the project owner. Now, as a UX/UI designer, I will be able to give the priority to the users to enable better experiences for them and to enhance digital products' usability. </p>
                    <p class="about-me">I have a trained eye for clean and functional design. Design thinking is a skill I have developed during my educational and professional background. The need of scalable design decisions taught me to approach each design problem from a broad perspective and to seek for consistency even in the smallest details. </p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="{{ site.url }}/downloads/BilgeGercek_Resume_UX_ON.pdf" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Resume
                    </a>
                </div>
            </div>
        </div>
    </section>
