 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                  <div class="modal-body">
                    <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                            <h3>{{ post.title }}</h3>
                            <hr class="thin-line-modals">
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                            <p>{{ post.description }}</p>
                            <h4>My Role</h4>
                            <p>{{ post.role }}</p>
                            <h4>The Process</h4>
                            <p>{{ post.process }}</p>
                            <p>{{ post.details1 }}</p>
                            <figure>   
                              <img src="img/portfolio/{{ post.img2 }}" class="img-responsive img-persona" alt="{{ post.alt}}">
                              <figcaption>{{ post.img2-caption }}</figcaption>
                            </figure>
                            <p>{{ post.details2 }}</p>
                            <h5>Example of User Scenario</h5>
                            <p class="scenario">{{ post.user-scenario }}</p>
                            <figure>   
                            <img src="img/portfolio/{{ post.img3 }}" class="img-responsive img-alter-centered" alt="{{ post.alt}}">
                            <figcaption>{{ post.img3-caption }}</figcaption>
                            </figure>
                            <figure> 
                            <img src="img/portfolio/{{ post.img4 }}" class="img-responsive img-alter-centered" alt="{{ post.alt}}">
                              <figcaption>{{ post.img4-caption }}</figcaption>
                            </figure>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://startbootstrap.com">{{ post.client }}</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">{{ post.project-date }}</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">{{ post.category }}</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
